@import "../../../shared/styles/global";

main.login-page {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  @extend .color-themeDarkGray;
  .logo-container {
    margin-bottom: 30px;
    img {
      width: 180px;
      margin-bottom: 30px;
    }
    .title {
      font-size: 2.25rem;
      margin-bottom: 15px;
    }
  }
  .form-container {
    padding: 15px 30px;
    input.form-control {
      border-radius: 0;
      box-shadow: none;
      border: 2px solid $themeDarkGray;
      margin-bottom: 5px;
      height: 48px;
      font-size: 1.25rem;
      @extend .color-themeDarkGray;
      letter-spacing: 1px;
      &:focus {
        border-color: $themeBlue;
      }
    }
    .btn-login {
      @extend .bg-themeBlue;
      color: white;
      border-radius: 0;
      font-size: 1.25rem;
      height: 48px;
      margin-bottom: 15px;
      outline: none;
    }
    a {
      @extend .color-themeDarkGray;
    }
  }
  @include mq($from: phone-wide) {
    width: 420px;
    &.forgot-password {
      width: 600px;
      .form-container {
        width: 420px;
        margin: 0 auto;
      }
    }
    .logo-container {
      img {
        width: 260px;
      }
      .title {
        font-size: 2.75rem;
      }
    }
  }
}
